@import 'variables';
@import '~super-skeleton/scss/skeleton';

@import 'custom';

nav {
  background: #eee;
}

.mathscript {
    font-size: 20px;
    font-family: serif;
}

.modebar{
    display: none !important;
}
